.footerImage {
    background-image: url("../../assets/newfooter_720.png");
    background-size: contain;
    background-repeat: no-repeat;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    width: 2000px;
    height: 1200px;
}
.footer-container {
    margin-top: 1rem;
    width: 2000px;
}